/* style is here */

* {
    box-sizing: border-box;
}

header {
    background-color: lightgrey ;
    height: 50px;

}

header > div {
    padding: 3px;
    color: black;
}

body {
    display: flexbox;
    flex-direction: column;
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}

.container {
    width: 900px;
    margin: auto;
  }

.topRow {
    display: flex;
    border: 2px;
    vertical-align: bottom;
    
}

.midRow {
    display: flex;
    border: 1px solid;
    text-align: center;
    position: relative;
}

.lowRow {
    display: flex;
    border: 1px solid;
    text-align: center;
}

.column-top {
    background: none;
    margin: 0 5px;
}

.column {
    border: 1px solid blue;
    width: 33.33%;
        
}

.transText {
    position: absolute;
    width: 28%;
    background-color: lightgrey;
    top: 70%;
    justify-content: space-around;
    background: transparent;
}

img {
    flex: 1;
}

.seperator {
    font-size: 14px;

}

footer {
    background: lightgrey;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 38px;
 }

 ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 0 0 10px;
    border: 1px solid none;
    color: white;
}


