/* style is here */

* {
    box-sizing: border-box;
}

header {
    background-color: lightgrey ;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 50px;

}

header > div {
    padding: 3px;
    color: black;
}

body {
    display: flexbox;
    flex-direction: column;
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    top: 50px;
}

.container {
    width: 900px;
    margin: auto;
  }

.topRow {
    display: flex;
    border: 2px;
    vertical-align: bottom;
    background-color: lightgrey ;
     
}

.midRow {
    display: flex;
    /* border: 1px solid; */
    text-align: center;
    position: relative;
}

.lowRow {
    display: flex;
    border: 1px solid;
    text-align: center;
}

.space {
    height: 20px;
    white-space: normal;
}

.column-top {
    background: none;
    margin: 0 3px;
}

.column {
    border: 1px solid;
    width: 33.33%;
    border-bottom-right-radius:40px;

}

.column-column {
    display: flex;
    justify-content:flex-end;
}

.column-right {
    justify-content:flex-start;

}

.transText {
    position: absolute;
    width: 28%;
    background-color: rgb(211, 211, 211);
    top: 60%;
    font-size: 12px;
    margin-right: 20px;
    background-blend-mode: lighten;

}

img {
    flex: 1;
    /* display: block;
    width: 142px;
    height: 93px;
    position: absolute; */
}

.paz-logo {
    display: block;
    width: 142px;
    height: 93px;
}

.seperator {
    font-size: 14px;

}

footer {
    background: lightgrey;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 40px;
    /* padding: 1; */
    /* margin: 1; */
    bottom: 0px;
    position: fixed;
 }

 ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 0 0 10px;
    border: 1px solid none;
    color: white;
}


.theform {
    background-color: lightgrey;
    border: 1px solid;
}

.sideform-up {
    background-color: lightgrey;
    border: 1px solid;

}

.sideform-down {
    background-color: lightgrey;
    border: 1px solid;

}

.sideform-menu {
    float: right;
    width: 122px;
    margin-left: 22px;
}

/* NavBar */
.navbar {
    overflow: hidden;
    background-color: lightgrey;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:lightgrey;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }